<span class="inline-block rounded-full border border-hw-border cursor-pointer <%= SIZES[@size] || 'h-7 w-7' %>" style="background-color: <%= @color %>" <%= @with_tooltip ? "title='#{@color}'" : '' %> <%= tag.attributes(@extra_attrs) %>></span>
