<div class="relative" <%= tag.attributes(@extra_attrs) %>>
  <%= content %>
  <label for="<%= @name %>" class="absolute left-3 top-1/2 -translate-y-1/2 text-sm text-hw-muted-foreground transition-all pointer-events-none peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs peer-focus:text-hw-primary peer-[:not(:placeholder-shown)]:top-2 peer-[:not(:placeholder-shown)]:text-xs"><%= @label %></label>
</div>
