<div class="relative" <%= tag.attributes(@extra_attrs) %>>
  <% if @position == :left %>
    <div class="absolute top-1/2 -translate-y-1/2 left-3 text-hw-muted-foreground pointer-events-none"><%= safe_svg(@icon) %></div>
  <% end %>
  <%= content %>
  <% if @position == :right %>
    <div class="absolute top-1/2 -translate-y-1/2 right-3 text-hw-muted-foreground pointer-events-none"><%= safe_svg(@icon) %></div>
  <% end %>
</div>
