<% level = lambda {
  score = 0
  score += 1 if @password.length >= 8
  score += 1 if @password =~ /[a-z]/ && @password =~ /[A-Z]/
  score += 1 if @password =~ /\d/
  score += 1 if @password =~ /[^a-zA-Z0-9]/
  [score - 1, 0].max
}.call %>
<% colors = ['bg-hw-destructive', 'bg-hw-warning', 'bg-hw-warning', 'bg-hw-success'] %>
<% labels = ['Too short', 'Weak', 'Fair', 'Good', 'Strong'] %>
<div class="space-y-1.5" data-controller="hw-password-strength" <%= tag.attributes(@extra_attrs) %>>
  <div class="flex gap-1">
    <% 4.times do |i| %>
      <div class="h-1.5 flex-1 rounded-full transition-colors <%= i <= level && level >= 0 ? colors[level] : 'bg-hw-muted' %>"></div>
    <% end %>
  </div>
  <p class="text-xs <%= level >= 2 ? 'text-hw-success' : level >= 1 ? 'text-hw-warning' : 'text-hw-destructive' %>"><%= labels[level + 1] || labels[0] %></p>
</div>
