<div class="relative inline-block"
     data-controller="rb-hover-card"
     data-action="mouseenter->rb-hover-card#show mouseleave->rb-hover-card#hide">
  <div data-rb-hover-card-target="trigger">
    <% if trigger? %>
      <%= trigger %>
    <% else %>
      <a href="#" class="text-sm font-medium underline-offset-4 hover:underline">Hover</a>
    <% end %>
  </div>
  <div class="<%= card_classes %>"
       data-rb-hover-card-target="content"
       data-state="closed"
       data-side="bottom"
       hidden
       <%= tag.attributes(@extra_attrs) %>>
    <%= content %>
  </div>
</div>
