<%# Skeleton partial - local variables: shape, width, height, circle_size, class %>
<%
  shape ||= local_assigns[:shape] || :rectangle
  width ||= local_assigns[:width]
  height ||= local_assigns[:height]
  circle_size ||= local_assigns[:circle_size] || '40px'
  extra_class ||= local_assigns[:class]

  style_parts = []
  if shape.to_sym == :circle
    style_parts << "width: #{circle_size}; height: #{circle_size};"
  else
    style_parts << "width: #{width};" if width
    style_parts << "height: #{height};" if height
  end

  shape_class = case shape.to_sym
                when :circle then 'rounded-full'
                when :text then 'rounded h-4 w-full'
                else 'rounded-md'
                end

  classes = [
    'animate-pulse bg-hw-muted',
    shape_class,
    extra_class
  ].compact.join(' ')
%>
<div class="<%= classes %>" style="<%= style_parts.join %>"></div>
